body {
    margin: 0;
    padding: 0;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh; 
    text-align: center;
  }
  
  .login-form {
    background: linear-gradient(#ff36aedf, #555555c9);
    padding: 10px;
    border-radius: 35px; 
    width: 300px; 
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .login-form div {
    margin-bottom: 15px;
    text-align: left; 
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 14px;
  }
  
  .login-form input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    font-size: 14px;
  }
  
  .login-form button {
    background-color: #000000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
  }
  
  .login-form button:hover {
    background-color: #af72ff; 
  }
  
  .login-form p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .login-form p.error {
    color: rgb(255, 103, 103);
  }
  
  .login-form p.success {
    color: rgb(119, 255, 119);
  }