/* Стили для карточки */
.card {
    width: 305px; /* Размер карточки */
    background-color: rgb(255, 255, 255); /* Белый фон */
    border-radius: 10px; /* Скругление углов */
    overflow: hidden; /* Обрезаем все, что выходит за пределы карточки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень вокруг карточки */
    margin: 15px; /* Отступы между карточками */
    transition: transform 0.3s ease-in-out; /* Плавное увеличение при наведении */
  }
  
  .card:hover {
    transform: translateY(-10px); /* Эффект поднятия карточки при наведении */
  }
  
  /* Контент внутри карточки */
  .card-content {
    padding: 10px; /* Отступы внутри карточки */
  }
