.exhibits-container {
  background: url('https://d2pas86kykpvmq.cloudfront.net/landings/glossy/shape-1.png') right no-repeat; 
  padding: 20px;
}

/* Контейнер для Filters и SellDeleteUpdateExhibit */
.top-section {
  display: flex;
  justify-content: center; /* Разделяем элементы */
  align-items: center; /* Выравниваем элементы по вертикали */
  gap: 20px; /* Расстояние между компонентами */
  margin-bottom: 20px; /* Отступ от нижней части */
}

/* Устанавливаем одинаковую высоту для элементов
.top-section > * {
  flex: 1; 
  max-height: 100%; 
  display: flex;
  align-items: center; 
} */

/* Контейнер для кнопок переключения вида */
.view-toggle-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 16px 0;
}

/* Стиль для кнопок переключения */
.view-toggle-container button {
  font-family: Raleway;
  font-weight: 600;
  padding: 10px 20px;
  outline: none;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Стили для активной кнопки */
.view-toggle-container button.active {
  background-color: #6c5ce7;
  color: white;
}

/* Эффект при наведении */
.view-toggle-container button:hover {
  background-color: #d1c4e9;
}
