.table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 20px 40px rgba(244, 53, 177, 0.601);
  border-radius: 25px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
}

.table th {
  background: linear-gradient(#ef2aa0df, #edbaff00);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.table th:hover {
  background-color: #de67cc;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}
