/* Основной контейнер для компонента */
.container {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(#5f47fbdf, #edbaff00);
    border-radius: 25px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}
  
  /* Заголовок */
  h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Группа для поля ввода */
  .form-group {
    margin-bottom: 16px;
  }
  
  /* Поля ввода */
  .input-field {
    font-family: Raleway;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin-bottom: 8px;
  }

  .input-field:focus {
     border-color: #6c5ce7;
     outline: none;
  }
  
  /* Кнопки действия */
  .action-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #6c5ce7;
    color: white;
    transition: background-color 0.3s;
  }
  
  .btn-info {
    background-color: #6c5ce7;
    color: white;
  }
  
  .btn-secondary {
    background-color: #a397ff;
    color: white;
  }
  
  .btn-danger {
    background-color: #6c5ce7;
    color: white;
  }
  
  .btn-primary {
    background-color: #6c5ce7;
    color: white;
  }
  
  .btn-purple {
    background-color: #6c5ce7;
    color: white;
  }
  
  /* Эффект при наведении на кнопки */
  .btn:hover {
    opacity: 0.9;
  }
  
  /* Сообщение об успешной операции */
  .message {
    color: #28a745;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Детали экспоната */
  .exhibit-details {
    color: #ffffff;
    margin-top: 20px;
  }
  
  .exhibit-details ul {
    list-style: none;
    padding: 0;
  }
  
  .exhibit-details li {
    margin: 8px 0;
  }

  .create-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
  