@import url("https://fonts.googleapis.com/css2?family=Montseratt&family=Montseratt&display=swap");

/* Обновляем стили для body */
body {
  font-family: Montseratt, sans-serif;
  background: #ff8ee8;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  background: #1a0414;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer {
  color: #fff;
  text-align: right;
  padding: 10px 0;
  margin-top: auto; 
  margin-right: 3%;
}

nav {
  display: flex;
  gap: 20px;
  background: #eee;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #886fbf;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: 200px;
}
